starlette
click
coloredlogs
verboselogs
string-color
progress
progressbar

maxminddb
requests
types-requests

# beautifulsoup4
# bs4
# mechanize
# opencage
# phonenumbers
# colorama
# dnspython
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
